CF-JAXWS-RI/src/main/webapp/WEB-INF/wsdl/BookService_schema1.xsd

<xs:schema targetNamespace="http://service.rs.com"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SearchBookIn" type="xs:string" />
	<xs:complexType name="book">
		<xs:sequence>
			<xs:element name="id" type="xs:long" />
			<xs:element name="isbn" type="xs:string" />
			<xs:element name="title" type="xs:string" />
			<xs:element name="author" type="xs:string" />
			<xs:element name="price" type="xs:float" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>