CL-JAXWS-RI/src/main/webapp/WEB-INF/wsdl/BookService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://service.rs.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="SearchBookIn" nillable="true" type="xs:string"/>

  <xs:complexType name="book">
    <xs:sequence>
      <xs:element name="author" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="isbn" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="price" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

